.title {
  font-size: 24px;
  font-weight: 600;
}

.subheading {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.third {
  grid-column: span 2;
}

.half {
  grid-column: span 3;
}

.full {
  grid-column: span 6;
}

.viewAll {
  font-size: 12px;
  margin-top: 0.5rem;
  color: #3b82f6;
  align-self: flex-end;
  cursor: pointer;
}

.links li {
  padding: 4px 0;
  font-weight: 500;
}

.status {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  width: fit-content;
  margin-top: 2px;

  &.inProgress {
    background-color: #facc15;
  }

  &.todo {
    background-color: #cbd5e1;
  }

  &.done {
    background-color: #4ade80;
  }
}

.priority, .sprint {
  font-size: 12px;
  color: #6b7280;
}

.half {
  grid-column: span 3;
}

.innerWrapper {
  padding: 0 1.5rem; // або 24px
}
